---
title: base
---
<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>
        <main>
        {{ content | safe }}
        </main>
        <!-- Main JS -->
        <script src="{{ 'assets/scripts/main.js' | url }}"></script>
        <!-- Individual Plugins -->

    </body>
</html>