---
eleventyExcludeFromCollections: true
layout: home.njk
title: Home
---
<h1 class="text-center">An Eleventy Starter</h1>
<p class="text-center">Journal is a lightweight starter kit using the static site generator <a href="https://11ty.io">Eleventy</a> and <a href="https://github.com/ethanshutt/notebook">Notebook CSS</a>.</p>
<hr>
<h2>Some Example Pages</h2>
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>