---
eleventyExcludeFromCollections: true
layout: base.njk
title: Home
---
<div class="text-center" id="hero">
    <h1>An Eleventy Starter</h1>
    <p>Journal is a lightweight starter kit using the static site generator <a href="https://11ty.io">Eleventy</a> and <a href="https://github.com/ethanshutt/notebook">Notebook CSS</a>.</p>
    <a href="https://github.com/ethanshutt/journal">View Source Code on Github</a>
<hr>
</div>
<h2>Recent Posts</h2>
{% include "postslist.njk" %}
