---
eleventyExcludeFromCollections: true
layout: base.njk
title: Home
---
<header>
    <h1>An Eleventy Starter</h1>
    <p>Journal is a lightweight starter kit using the static site generator <a href="https://11ty.io">Eleventy</a>.</p>
    <a href="https://github.com/ethanshutt/journal">View Source Code on Github</a>
</header>
<h2>Recent Posts</h2>
{% include "postslist.njk" %}
